h1{color: #0000ff};
span {color: #ff0000};
marquee{background-image:url("mtb.jpg");}
#rebel {color:pink; text-decoration:line-through;}
.unicorn{background-image:url("mtb.jpg");height:1067px;width:1600px;}
#red{background-color: red;}